#introheader {
	
	margin-top: 50px;
}

#navigation {
	width: 150px;
	margin-left:10px;
}

.topnav {
	padding: 10px;
	margin-left: 10px;
}

.startDate  {
	width:200px:	
	margin:10px;
}

.endDate  {
	width:200px:	
	margin-top: 5px;
}

.sized {
	min-width: 200px;
	/*max-width: 445px;*/
	min-height: 445px;
}

.chart 
{
	border-style: solid;
	border-width: 1px;
	border-color: #F1E3D4;
	border-radius: 5px;	
	/*margin-left: 5px;
	margin-top: 5px;
	padding-left: 5px;	*/	
	background: rgba(225, 232, 245, 0.65);
}


.example-chart 
{
	border-style: solid;
	border-width: 1px;
	border-color: #F1E3D4;
	border-radius: 5px;	
	background: rgba(225, 232, 245, 0.65);	
	/*margin-left: 15px;
	margin-top: 5px;*/
}

.example-chart  h1 {
	font-size:95px;
}



.table-data {
	border-style: solid;
	border-width: 1px;
	border-color: #F1E3D4;
	border-radius: 5px;
	padding-left: 12px;
	margin-left: 5px;
	margin-top: 5px;
	padding-left: 5px;
	min-width: 445px;
	max-width: 445px;
	min-height: 445px;
	background: rgba(225, 232, 245, 0.65);
}

.chart h3 {
	text-align: center;		
}

.emptychart 
{
	font-size: 9em;
	color: gray;
}


.center {
    float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top : 25%;
	text-align: center;
	width: 100%;
}

.errorData {
	cursor: pointer;
}

.workingtab {
	color :#CC5B0F;
}

.workingtab_logo {
	font-size: 2.2em;
	position: absolute;
	left: 100px;
	color :#CC5B0F;
}



.gridbody
 {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.gridbody img 
{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.navbar-custom {
	background-color: #e6e6e6;
}

.total-info {
	font-weight: bold;
	color: rgba(25, 25, 22, 0.78);;
}


/*
#userinfo {
	margin-left: 10px;
}
*/
