#introheader {
	
	margin-top: 50px;
	background-image: web/images/header.jpg
}

#navigation {
	width: 150px;
	margin-left:10px;
}

.topnav {
	padding: 10px;
	margin-left: 10px;
}

.startDate  {
	width:200px:	
	margin:10px;
}

.endDate  {
	width:200px:	
	margin-top: 5px;
}

.chart h3 {
	text-align: center;
}

.emptychart {
	font-size: 9em;
	color: gray;
}


.center {
    float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

#userinfo {
	margin-left: 10px;
}

